{% extends 'comptes/password_base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body p-4 p-md-5">
      <div class="icon d-flex align-items-center justify-content-center">
        <span class="bi bi-person-circle"></span>
      </div>
      <h1>Réinitialisation de mot de passe</h1>
      <b>
          Veuillez entrer votre nouveau mot de passe afin que nous puissions vérifier.
      </b>
        <br>
      <form  class="login-form" method="post">
        {% csrf_token %}
        <div class="form-group d-flex">
          {% render_field form.password1|append_attr:"class:form-control rounded" placeholder="Mot de passe..." %}
        </div>

        <div class="form-group d-flex">
          {% render_field form.password2|append_attr:"class:form-control rounded" placeholder="Confirmation du mot de passe..." %}
        </div>
        <div class="form-group">
          <div class="container-contact100-form-btn">
            <input type="submit" value="Envoyer un email" class="contact100-form-btn fa fa-plus btn-block" style="border-radius:5px; text-transform: capitalize" />
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer justify-content-center">
       <a href="{% url 'comptes:index' %}" >Retour à la page d'accueil</a>
    </div>
  </div>
</div>

{% endblock %}
