{% extends 'comptes/password_base.html' %}


{% block content %}
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body p-4 p-md-5">
      <h6>Réinitialisation du mot de passe envoyée</h6>
      <hr>
        <b>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'e-mail que vous avez entré. Vous devriez les recevoir sous peu.</b><br>
        <b style="width: 60%; margin: 0 auto">Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier de courrier indésirable.</b>
        <br>
      <a href="{% url 'comptes:index' %}">Retour à la page d'accueil</a>
    </div>
  </div>
</div>
{% endblock %}
