{% extends 'comptes/password_base.html' %}
{% load widget_tweaks %}


{% block title %} Verifier votre email {% endblock %}
{% block content %}

<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body p-4 p-md-5">
      <div class="row hide-alert">
          {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                    {% if message.tags == 'info' %}
                      {% if forloop.counter <= 2 %}
                        <li {% if message.tags %} class=" {{ message.tags}} alert alert-info" {% endif %} style="text-align:center">{{ message }}</li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
              </ul>
          {% endif %}
      </div>
    </div>
    <div class="modal-footer justify-content-center">
       <a href="{% url 'comptes:index' %}" >Retour à la page d'accueil</a>
    </div>
  </div>
</div>

{% endblock %}
