body {
  background-image: linear-gradient(to right, #2DB4FA, #0094EC)
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background-image: linear-gradient(to right, #2DB4FA, #0094EC) box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}
.form-control:focus {
  border: solid #898989 1px !important;
}

ul.list-group{
  display: none;
  z-index: 3;
  width: 250px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
  user-select: none;

}

ul.list-group:before {
  content: "";
  position: relative;
  bottom: 10px;
  left: 45%;
  border:0;
  border-left: solid 6px transparent;
  border-right: solid 6px transparent;
  border-bottom: solid 10px #FFFFFF;
  width: 0;
  height:0;
  padding: 0
}


.list-group-item {
  border:0;
  border-top: solid 1px rgba(0, 0, 0, 0.15);
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 2px;
}

.list-group-item:first-child {
  border-top: 0;
}

.list-group-item:last-child {
  border-bottom: 0;
}

.list-group-item:hover {
  background-color: #0094EC;
  box-shadow: 0 10px 30px 0px rgba(0, 148, 236, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(0, 148, 236, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(0, 148, 236, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(0, 148, 236, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(0, 148, 236, 0.5);
}

.list-group-item .nav-link:hover {
  color: #fff !important;
}


.settings-links{
  display: none ;
}

#settings-btn {
  cursor: pointer;
}


@media only screen and (max-width: 992px) {

  #settings-btn{
    display: none;
  }
  .settings-links{
    display: block;
  }
}
label.labels{
  font-size: 13px;
}

.thumbnail {
  position: relative;
}

.icon-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#settings-popup li:hover a{
  color: #FFFFFF !important;
}


.fade-in  {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
