{% load static %}
<script type="text/javascript" src="{% static 'js/jquery-3.5.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-select-country.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/simpleLightbox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cp-main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cp-1-main.js' %}"></script>
<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notify.min.js' %}"></script>
<script type="text/javascript">
  $.notify.defaults({globalPosition: 'top'});
</script>
<script type="text/javascript" src="{% static 'js/jquery.imagebox.js' %}"></script>
<script type="text/javascript" src="{% static 'js/imagebox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.autoload.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main-img-viewer.js' %}"></script>
