{% load static %}
<link rel="icon"       type="image/x-icon"  href="{% static 'media/images/default/favicon.ico' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/bootstrap-select-country.min.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" type="text/css"      href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/util.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/main.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'fonts/icomoon/style.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/icons/bootstrap-icons.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" integrity="sha512-xnP2tOaCJnzp2d2IqKFcxuOiVCbuessxM6wuiolT9eeEJCyy0Vhcwa4zQvdrZNVqlqaxXhHqsSV1Ww7T2jSCUQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/googleapis1.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/googleapis2.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/simpleLightbox.min.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/cp-1-style.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/base.css' %}"  />
<link rel="stylesheet" type="text/css"      href="{% static 'css/ionicons.min.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/styles.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/cp-utils.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/cp-main.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/imagebox.min.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/jquerysctipttop.css' %}" />
<link rel="stylesheet" type="text/css"      href="{% static 'css/master-img-viewer..css' %}" />
